$main-color: rgb(223, 223, 223);
$shadow-color: rgb(220, 220, 220);
.card-container {
    box-shadow: 0 0 15px $main-color;
    box-sizing: border-box;
    min-height: max-content;
    display: flex;
    margin: 5px;
        &:hover {
            box-shadow: 0 0 25px $shadow-color;
        }
}

.card-body {
    background-color: white;
    font-weight: 500;
    display: flex;
    flex-direction: column;
}

.card-display {
    min-height: 25vh;
    // &:hover {
    //     border: 2px solid rgb(0, 0, 0)
    // }
    
}

.card-img {
    max-width: 100px;
    margin-top: 10px;
    align-self: center;

}

.card-btn {
    width: max-content;
    margin: 1px;
    &:hover {
        box-shadow: 0 0 5px rgb(117, 117, 117);
    }
}

.open-btn {
    width: fit-content;
    margin: 1px;
    &:hover {
        box-shadow: 0 0 5px rgb(117, 117, 117);
    }
}

.card-title {
    font-size: 1rem;
    font-style: bold;
}

.card-text {
    font-style: italic;
    font-size: 75%;
}